<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lv9_zadaca">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Bottom" ></activity>
        <activity android:name=".IconTabs" android:label="Icon Tabs"/>
        <activity android:name=".IconTextTabs" android:label="Icon and Text Tabs"/>
        <activity android:name=".scrollableTabs" android:label="Scrollable Tabs" />
        <activity android:name=".simpleTabs" android:label="Simple Tabs"/>
        <activity android:name=".MainActivity" android:label="Material Tabs">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>